.Column {
}

div.Column-header {
    margin-bottom: 0;
}

button.Column-refresh,
button.Column-refresh:hover,
button.Column-refresh:active,
button.Column-refresh:focus
{
    background-color: transparent;
    border-width: 0;
    height: 4em;
    min-height: 4em;
    padding-top: 0.5em;
}

ul.Column-list {
    margin-top: 0;
}

div.Column-progress {
    height: 4px;
    padding-top: 0;
    margin-bottom: 0;
}