div.Card {
    margin-top: 1em;
    padding: 0.5em;
}

img.Card-avatar {
    width: 100%;
    max-width: 96px;
}

.Card-header {
    margin-bottom: 0;
}

.Card-name {
    font-weight: bold;
}

.Card-account {
    font-size: smaller;
}