div.Card {
    margin-top: 1px;
    padding: 0.5em;
}

img.Card-avatar {
    width: 100%;
    max-width: 96px;
}

div.Card-header {
    margin-bottom: 0;
}

div.Card-avatar-container {
    padding: 0;
}

.Card-name,
.Card-account,
.Card-date
{
    line-height: 1em;
}

.Card-name {
    font-weight: bold;
    font-size: medium;
}

.Card-account {
    font-size: small;
}

.Card-date {
    font-size: small;
}